<!DOCTYPE html>
<html>
	<head>
		
		<title>CMSC 447 Team 5 - Group Project</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="shortcut icon" type="image/x-icon" href="docs/images/favicon.ico" />
	    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A==" crossorigin=""/>
	    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js" integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA==" crossorigin=""></script>

		<style>
			html, body {
				height: 100%;
				margin: 0;
			}

			#map {
				height: 100%;
				width: 100%;
				float: left;
				z-index: 1;
				position: relative;
			}

			.overlay {
				height: 105px;
				width: 175px;
				position: relative; bottom: 145px; left: 20px;
				float: left;
				z-index: 3;
				background-color:#ffffff00;
				pointer-events: auto;
				padding: 10px 10px; 
				font: 14px/16px Arial, Helvetica, sans-serif; 
				color:#777;
				background: white; 
				background: rgba(255,255,255,0.8); 
				box-shadow: 0 0 15px rgba(0,0,0,0.2); 
				border-radius: 5px;  
				
	  		}

			.info{
				padding: 6px 8px;
				font: 14px/16px Arial, Helvetica, sans-serif;
				background: white; 
				background: rgba(255,255,255,0.8); 
				box-shadow: 0 0 15px rgba(0,0,0,0.2); 
				border-radius: 5px; 
			} 
			.info h4 { 
				margin: 0 0 5px; 
				color: #777;
			}
			.legend{
				text-align: left;
				line-height: 18px;
				color: #555; 
			} 
			.legend i { 
				width: 18px; 
				height: 18px; 
				float: left; 
				margin-right: 8px; 
				opacity: 0.7; 
			}
		</style>

	</head>

	<body>
		<div id='map'></div>
		<script type="text/javascript" src="{{url_for('static', filename='maryland-data.js')}}"></script>
		<script type="text/javascript">



			var map = L.map('map').setView([39.0458, -76.6413], 8);

			L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token=pk.eyJ1IjoibWFwYm94IiwiYSI6ImNpejY4NXVycTA2emYycXBndHRqcmZ3N3gifQ.rJcFIG214AriISLbB6B5aw', {
				maxZoom: 18,
				attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, ' + 'Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
				id: 'mapbox/light-v9',
				tileSize: 512,
				zoomOffset: -1
			}).addTo(map);


			// control that shows state info on hover
			var info = L.control();

			info.onAdd = function (map) {
				this._div = L.DomUtil.create('div', 'info');
				this.update();
				return this._div;
			}

			info.update = function (props, p1, p2, p3) {
				this._div.innerHTML = (props ? '<h4>Maryland Covid Rates</h4>' + '<b>' + props + '</b><br />' + 'Cases: ' + p1 + '</b><br />' + 'Deaths: ' + p2 + '</b><br />' + '% Vaccinated: ' + p3: '<h4>Hover over a county to display data</h4>');
			}
			
			info.addTo(map);

			// get color depending on population density value
			function getColor(v, type) {
				if(type == "cases") {		
					var d = (v) * 1000
					return d > 60 ? '#800026' :
							d > 3.6  ? '#8E1A33' :
							d > 2.3  ? '#9C3441' :
							d > 1.6  ? '#AA4F4E' :
							d > 1.2  ? '#B8695C' :
							d > 0.9   ? '#C68369' :
							d > 0.6   ? '#D49E77' :
							d > 0.4   ? '#E2B884' :
							d > 0.1   ? '#F0D292' :
										'#FFEDA0';
				} else if (type == "deaths"){
					var d = (v) * 1000				
					return d > 60 ? '#800026' :
							d > 32  ? '#8E1A33' :
							d > 16  ? '#9C3441' :
							d > 8  ? '#AA4F4E' :
							d > 3  ? '#B8695C' :
							d > 0.3   ? '#C68369' :
							d > 0.15   ? '#D49E77' :
							d > 0.04   ? '#E2B884' :
							d > 0.02   ? '#F0D292' :
										'#FFEDA0';
				} else if (type == "vaccrate"){
					var d = v
					return d > 90 ? '#800026' :
							d > 80  ? '#8E1A33' :
							d > 70  ? '#9C3441' :
							d > 60  ? '#AA4F4E' :
							d > 50  ? '#B8695C' :
							d > 40   ? '#C68369' :
							d > 30   ? '#D49E77' :
							d > 20   ? '#E2B884' :
							d > 10   ? '#F0D292' :
										'#FFEDA0';
				}
			}
			var counties = {{ counties_data | tojson }}


			const CASES = 0
			const DEATHS = 1
			const POPULATION = 2
			const VACCRATE = 3

			function style(feature) {
				var index = 0;
				var fill_color = 0;
				var color = "{{color}}";

				if (color == "None") {
					color = "cases";
				}
				
				if (color == "cases") {
					fill_color = getColor((counties[(feature.properties.name).concat(" ")][CASES] / counties[(feature.properties.name).concat(" ")][POPULATION]), "cases")
				} else if (color == "deaths") {
					fill_color = getColor((counties[(feature.properties.name).concat(" ")][DEATHS] / counties[(feature.properties.name).concat(" ")][POPULATION]), "deaths")
				} else if (color == "vaccrate") {
					fill_color = getColor(counties[(feature.properties.name).concat(" ")][VACCRATE], "vaccrate")
				}
				return {
					weight: 2,
					opacity: 1,
					color: 'white',
					dashArray: '3',
					fillOpacity: 0.7,
					fillColor: fill_color
				};
			}

			function highlightFeature(e) {
				var layer = e.target;

				layer.setStyle({
					weight: 5,
					color: '#666',
					dashArray: '',
					fillOpacity: 0.7
				});

				if (!L.Browser.ie && !L.Browser.opera && !L.Browser.edge) {
					layer.bringToFront();
				}
				var cases_density = ((counties[(layer.feature.properties.name).concat(" ")][CASES] / counties[(layer.feature.properties.name).concat(" ")][POPULATION]) * 1000).toFixed(2)
				var deaths_density = ((counties[(layer.feature.properties.name).concat(" ")][DEATHS] / counties[(layer.feature.properties.name).concat(" ")][POPULATION]) * 1000).toFixed(2)
				var vacc_rate = counties[(layer.feature.properties.name).concat(" ")][VACCRATE]
				
				cases_density += " / 1000 people"
				deaths_density += " / 1000 people"
				info.update(layer.feature.properties.name, cases_density, deaths_density, vacc_rate);

			}

			var geojson;

			function resetHighlight(e) {
				geojson.resetStyle(e.target);
				info.update();
			}

			function zoomToFeature(e) {
				map.fitBounds(e.target.getBounds());
			}

			function onEachFeature(feature, layer) {
				layer.on({
					mouseover: highlightFeature,
					mouseout: resetHighlight,
					click: zoomToFeature
				});
			}

			geojson = L.geoJson(maryland_counties, {
				style: style,
				onEachFeature: onEachFeature
			}).addTo(map);

			map.attributionControl.addAttribution('Population data &copy; <a href="http://census.gov/">US Census Bureau</a>');

			var legend = L.control({position: 'bottomright'});
			legend.onAdd = function (map) {

				var color = "{{color}}";

				if (color == "None") {
					color = "cases";
				}

				if (color == "cases") {
					var div = L.DomUtil.create('div', 'info legend'),
					grades = [0, 0.1, 0.4, 0.6, 0.9, 1.2, 1.6, 2.3, 3.6, 60],
					labels = [],
					from, to;
					var type = "cases"
					var divisor = 1000
				} else if (color == "deaths") {
					var div = L.DomUtil.create('div', 'info legend'),
					grades = [0, 0.02, 0.04, 0.15, 0.3, 3, 8, 16, 32, 60],
					labels = [],
					from, to;
					var type = "deaths"
					var divisor = 1000
				} else if (color == "vaccrate") {
					var div = L.DomUtil.create('div', 'info legend'),
					grades = [0, 10, 20, 30, 40, 50, 60, 70, 80, 90],
					labels = [],
					from, to;
					var type = "vaccrate"
					var divisor = 1

				}

				var color_type = ""
				if (color == "cases") {
					color_type = "Cases per 1000 people"				
				} else if (color == "deaths") {
					color_type = "Deaths per 1000 people"				
				} else if (color == "vaccrate") {
					color_type = "Vaccination %"				
				}


				labels.push('<h4>' + color_type + '</h4>')

				for (var i = 0; i < grades.length; i++) {
					from = grades[i];
					to = grades[i + 1];
					labels.push('<i style="background:' + getColor((from/divisor), type) + '"></i> ' + from + (to ? '&ndash;' + to : '+') );
				}
				div.innerHTML = labels.join('<br>');
				return div;
			}

			function set_date_range() {
				var min_date = "{{min_date}}"
				var max_date = "{{max_date}}"
				document.getElementById("calendar").setAttribute('min',min_date);
				document.getElementById("calendar").setAttribute('max',max_date);
			}



			legend.addTo(map);

		</script>

		<div class="overlay">
			
			Selected Date: {{searchDate}}
			<form action="/" id="formSubmission" method="POST">
				<div>
					<input type="radio" id="cases" name="color" value="cases" checked>
					<label for="cases">Color by Cases</label>
				  </div>
				  
				  <div>
					<input type="radio" id="deaths" name="color" value="deaths">
					<label for="deaths">Color by Deaths</label>
				  </div>

				  <div>
					<input type="radio" id="vaccrate" name="color" value="vaccrate">
					<label for="vaccrate">Color by Vaccination %</label>
				  </div>

				<input type="date" id="calendar" size=18 name="searchDate" placeholder="Date (MM/DD/YYYY)" onClick="set_date_range();">
				<input type="submit" value="Submit" style="position: relative; top: 5px;">
			</form>
		</div>

	</body>
</html>
